* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: lightgray;
    --secendery-color: lightblue;
    --third-color: gray;
}

/* -----------------HEADER------------- */

header {
    background-color: var(--secendery-color);
    padding: 10px;
    border-bottom: 1px black solid;
}

header nav {
    display: flex;
    justify-content: start;
    align-items: center;
}

header nav a {
    text-decoration-line: none;
    color: darkblue;
    padding: 10px 5px 10px 5px;
    margin: 5px;
    border-radius: 10px;
}

header nav a:hover {
    background-color: rgba(0, 0, 255, 0.331);
}

header nav a:active {
    background-color: rgba(0, 0, 152, 0.331);
}

.activeH {
    background-color: rgba(0, 241, 0, 0.404);
}

.activeH:active {
    background-color: rgba(0, 241, 0, 0.404);
}

.activeH:hover {
    background-color: rgba(57, 247, 57, 0.404);
}

.logo {
    margin-left: 15px;
}

/*----------hero part----------*/

.hero {
    display: grid;
    margin: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;

}

.firstText {
    justify-self: start;
    padding: 10px;
}

.secondText {
    justify-self: center;
    padding: 10px;
}

.hero a {
    border-radius: 10px;
    text-decoration-line: none;
    padding: 10px;
    text-align: center;
    color: rgb(99, 99, 99);
    justify-self: end;
    background-color: lightgreen;
}

.hero a:hover {
    background-color: rgb(111, 187, 111);
}

.hero a:active {
    background-color: rgb(67, 231, 67);
}

/* ------------PRP GRID ----------*/

.prp div {
    margin: 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    overflow: auto;
    height: 300px;
}

.prp div p,
h3 {
    margin: 10px;
    text-align: center;
}

.prp img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.prp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*-------------devLog---------*/

.devLog section {
    background-color: var(--main-color);
    border-radius: 10px;
    margin: 10px 10px;
    text-align: justify;
    align-content: center;
    height: 300px;
    overflow: auto;
}

.devLog section p {
    margin: 10px;
}

.devLog section h3 {
    text-align: center;
    top: 0;
    margin-top: auto;
}

.devLog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 60px;
    background-color: var(--third-color);
}

/*---------------Gallery------------*/

.gallerImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--main-color);
    margin: 10px 0;
}

.gallerImg figure {
    background: var(--secendery-color);
    text-align: center;
    margin: 30px 10px;
    border-radius: 10px;

}

.gallerImg img {
    width: 100%;
    height: 300px;
    border-radius: 10px;

}

.gallerImg figure:hover {
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.767);
}

.gameMWImg {
    background-color: red;

}

.gameEWImg {
    background-color: red;

}

.gameLImg {
    background-color: blue;

}

/*-----------footer-------------*/

footer {
    background-color: var(--third-color);
    position: fixed;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer p {
    margin: 10px;
    display: inline;
}

/* -----------------Phone-------------- */

@media screen and (max-width: 768px) {

    .prp {
        grid-template-columns: 1fr;
    }

    .devLog {
        grid-template-columns: 1fr;
    }

    footer p {
        font-size: 5px;
    }

    footer {
        padding: 5px;
    }

    .gallerImg {
        grid-template-columns: 1fr;
    }

    .gallerImg img {
        width: 100%;
        height: auto;
    }
}